.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    margin: 0px;
}

ul.header-links {
    display: flex;
    list-style: none;
    gap: 35px;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

.header-logo {
    color: white;
    margin-right: auto;
}

.header-top {
    border: 4px solid red;
    margin-bottom: 40px;
    display: flex;
    align-items: center;


}

.header-content {
    border: 4px solid red;
}